$teal: #19b5b4;
$orange: #f06426;
$dark: #333e4b;
$off-dark: #8F959C;
$white: white;

body {
  font-family: champagne_and_limousines;
  color: $dark;
}

@font-face {
    font-family: champagne_and_limousines;
    src: url(champagne_and_limousines.ttf);
}


.content-wrapper {
  padding: 4rem 0;
}

.centered-padding {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.header {
  .logo-wrapper {
    width: 7rem;
    margin: auto;
  }

  .title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}

.nav-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: 'Sarabun', sans-serif;
  margin-bottom: 3rem;
  padding: 1rem;
  z-index: 8888;


  .nav-item {
    font-size: 1.5rem;
    width: 9rem;
    border-right: 1px solid black;

    &.last {
      border-right: 0px;
    }

    a, a:visited, a:focus {
      text-decoration: none;
      color: $dark;

      &.active {
        color: $orange;
      }
    }
  }
}

.side-navigation {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0;
  background-color: $dark;
  width: 0px;
  padding-top: 70px;
  z-index: 7766;
  transition: 0.5s;


  .nav-link {
    color: $white;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;

    .fas {
      font-size: 1.4rem;
      margin-right: 1.2rem;
    }
  }

  a, a:hover, a:visited {
    text-decoration: none;
    color: $white;
  }

  a.active {
    color: $orange;
  }
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7777;
  display: none;
}

@media (max-width: 700px) {
  .nav-wrapper {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .side-navigation {
    display: block;
  }
}

.footer {
  margin: 2rem;
  font-size: 0.8rem;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.content {
  width: 100%;
  margin: auto;
  font-size: 1.6rem;
  font-family: 'Sarabun', sans-serif;

  .hero-overlay {
    position: relative;
    top: -13rem;
    background: white;
    width: 90%;
    margin: auto;
    padding: 1.3rem 3rem;

    @media (max-width: 1000px) {
      top: -9rem;
    }

    @media (max-width: 700px) {
      top: -6rem;
    }

    @media (max-width: 550px) {
      top: -2rem;
    }
  }



  .content-title {
    text-align: center;
    font-size: 5rem;
    font-family: champagne_and_limousines;
    margin-bottom: 3rem;

    @media (max-width: 500px) {
      font-size: 3rem;
    }

    .sub-content {
      margin-bottom: -2rem;
    }

    .title-link {
      font-size: 1.2rem;
    }
  }

  .home-ep-content {
    margin-bottom: 2rem;
  }

  .dates {
    color: white;
    padding: 2rem 0;
    background-color: $dark;

    &.angled-top {
      padding: 7rem 0;
      -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
      margin-top: -5rem;

      @media (max-width: 600px) {
        -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
      }
    }

    .dates-title {
      text-align: center;
      font-family: champagne_and_limousines;
      font-size: 4rem;
    }

    .dates-list {
      .date-item {
        display: flex;
        margin-bottom: 2rem;

        @media (max-width: 700px) {
          justify-content: space-between;
          font-size: 1rem;
          margin: 2rem 0.5rem;
        }

        div {
          padding: 0.3rem;
          margin-left: 3rem;

          @media (max-width: 700px) {
            margin-left: 0;
          }
        }


        .date-block {
          flex-grow: 0;
          text-align: right;
          width: 6rem;
          text-align: center;
          background-color: $teal;
          -ms-transform: skewY(20deg) rotate(20deg); /* IE 9 */
          -webkit-transform: skewY(20deg) rotate(20deg); /* Safari 3-8 */
          transform: skewY(-20deg) rotate(20deg);
        }

        .date-city {
          margin-left: 3rem;
        }
      }
    }
  }

  .restricted-content {
    width: 80%;
    margin: auto;
    padding-top: 3rem;
  }
}

.content-header {
  font-family: champagne_and_limousines;
  color: $teal;
  font-size: 3rem;

  .sub-header-text {
    color: $dark;
    font-size: 1rem;
  }
}

.small-text {
  font-size: 1rem;
}

.press-photo {
  margin-bottom: 1.5rem;
}

.content-block {
  margin: 2rem 0;
}

.ekko-lightbox {
  z-index: 9999;
}

.modal-backdrop {
  z-index: 8899;
}

.gallery-row {
  margin-bottom: 2rem;
}

.full-width {
  width: 100%;
}

.orange-link, .orange-link:hover, .orange-link:visited {
  text-decoration: none;
  color: $orange;
}

.flex {
  display: flex;

  &.flex-no-wrap {
    flex-wrap: nowrap;
  }

  &.flex-justify-content {
    justify-content: center;
  }
}

.key-values {
  .row-item {
    display: flex;
    margin: 0.5rem 0;
    font-size: 1.1rem;

    &.grouped {
      margin: 0.1rem 0;
    }

    .key {
      color: $teal;
      width: 7rem;
    }

    .sub-value {
      margin-left: 1rem;
      color: $off-dark;
    }
  }
}

.margin-small {
  margin: 1rem;
}

.sub-text {
  font-size: 1rem;
}

.sub-text-light {
  color: $off-dark;
}

.margin-left {
  margin-left: 2rem;
}

.social {
  margin-top: 5rem;
}

.comming-soon {
  margin-bottom: 10rem;
}

.band-camp {
  max-width: 210px;
}
